@page "/model"
@using DAL.Repositories.Interfaces
@using AutoMapper
@inject ICupboardModelRepository ICupboardModelRepository
@inject IMapper _mapper
@inject NavigationManager NavigationManager
<h3>CreateCupboardModel</h3>


<EditForm Model="cupboardModel" OnSubmit="HandleSubmit">

    <div>
        <label for="name">Name</label>
        <InputText id="name" required @bind-Value="cupboardModel.Name" class="form-control"></InputText>
    </div>
    <div>
        <label for="year">Year</label>
        <InputNumber id="owner" min="0" @bind-Value="cupboardModel.Year" class="form-control"></InputNumber>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" @onclick="CreateModel">Create modal </button>
</EditForm>

@code {

    readonly DAL.Models.ForCupboardModels.Request.CreateCupboardModel cupboardModel = new();

    async Task CreateModel()
    {
        if (cupboardModel.Name == string.Empty)
        {
        }
        else
        {
            await ICupboardModelRepository.Create(cupboardModel);
            NavigationManager.NavigateTo("/cupboard");
        }
    }


    async Task HandleSubmit()
    {
    }


}