@page "/"
@using DAL.Repositories.Interfaces
@inject IProcedureRepository ProcedureRepository
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Welcome to Cupboard application!</h1>
<h2>Its simple Application for test project</h2>
<p style="text-align: center">
    <button class="btn btn-primary" @onclick="CallProcedure">Call stored procedure</button>
</p>


@code{

    async Task CallProcedure()
    {
        await ProcedureRepository.CallProcedure();
        NavigationManager.NavigateTo("/cupboardClothes");
    }

}